numpy
pyproj
matplotlib
Cython
h5py
pandas
plotly == 4.8.1
chart_studio
#git+https://github.com/matplotlib/basemap.git#egg=basemap
git+https://github.com/Unidata/netcdf4-python#egg=netCDF4
git+https://github.com/jswhit/pygrib.git#egg=pygrib
nbformat
dash==2.15.0